/* ========== ROOT ========== */

:root {
   /* COLOR 1 */
   --color_1_bg: linear-gradient(60deg, #27118D, #A651FD);

   /* COLOR 2 */
   --color_2_bg: linear-gradient(60deg, #141414, #1F1F1F);

   /* COLOR */
   --color_bg: var(--color_1_bg);

   /* --netcard: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(157deg, rgba(158, 97, 215, 0.2) -4%, rgba(26, 8, 44, 0.2) 100%); */
   --netcard: rgba(0, 0, 0, 0.1);

   /* PX */
   --h6: 12px;
}

/* ========== NULL ========== */

* {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

/* ========== HELP ========== */

._unuse {
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   pointer-events: none;
   user-select: none;
   cursor: none;
}

._untouch {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   touch-action: none;
}

/* ========== SCREEN ========== */

.screen {
   z-index: 1;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;

   display: flex;
   justify-content: center;
   align-items: center;

   background: var(--color_bg);
}

.screen-box {
   width: auto;
   height: auto;

   display: grid;
   /* grid-template-rows: repeat(0, 0); */
   /* grid-template-columns: repeat(0, 0); */
   gap: 0;
}

.square {
   background: rgba(255, 255, 255, 0);
   border: 1px solid rgba(255, 255, 255, .1);
   transition: background 1000ms ease-in-out;
}

.square._effect {
   background: rgba(255, 255, 255, .05);
}

/* ========== WRAPPER ========== */

.wrapper {
   position: relative;
   min-width: 320px;
   min-height: 100%;
}

.app {
   position: relative;
   z-index: 100;
   min-height: 100vh;
   width: 100%;
}

.app-container {
   margin: 0 auto;
   padding: 40px 20px 20px 20px;
   max-width: 1440px;
}

/* ========== CONTENT ========== */

.content {
   width: calc(100% -40px);
   height: calc(100vh - 60px);
   display: grid;
   grid-template-rows: auto 1fr 40px;
}

/* ========== HEADER ========== */

.header {
   width: 100%;
   display: flex;
   align-items: start;
   justify-content: center;
}

/* ========== MIDDLE ========== */

.middle {
   padding: 40px 10px 10px 10px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: start;
   /* background-color: rgba(255, 255, 255, 0.1); */
}

.network {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.net {
   margin: 2px;
   max-width: 450px;
   width: 100%;
   height: 50px;
   display: flex;
   align-items: center;
   border-radius: 10px;
   border: 1px solid rgba(255, 255, 255, .1);
   background: var(--netcard);
   /* backdrop-filter: blur(2px); */
   text-decoration: none;
   transition: border-color 150ms ease-in-out;
}

.net:hover {
   border: 1px solid rgba(255, 255, 255, .5);
}

.neticon-box {
   width: 50px;
   height: 50px;
   padding: 12px;
}

.neticon {
   width: 100%;
   height: 100%;
}

.nettitle {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
   font-size: 16px;
   line-height: 1.6;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 1);
}

.poster {
   margin-top: 20px;
   padding: 20px;
   max-width: 600px;
   width: 100%;
   border-radius: 14px;
   background-color: white;
}

.poster-text {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   color: rgba(0, 0, 0, 1);

   margin-top: 10px;
   display: flex;
   flex-direction: column;
}

.poster__item {
   width: 100%;
   margin-bottom: 10px;
}

.poster__title {
   font-weight: 600;
   font-size: 18px;
   color: #2e2e2e;
}

.poster__desc {
   line-height: 1.4;
}

.poster__date {
   font-weight: 600;
   color: #2e2e2e;
}

.poster__map {
   font-weight: 600;
   color: #2e2e2e;
}

/* ========== FOOTER ========== */

.footer {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer__title {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
   font-size: var(--h6);
   line-height: 1.6;
   color: rgba(255, 255, 255, 0.8);
}

/* ========== HEADER CONTENT ========== */

.logo-box {
   display: block;
   max-width: 400px;

   display: flex;
   align-items: center;
   justify-content: center;
}

.logo-pic {
   width: 80%;
   cursor: pointer;
   transition: transform 200ms ease-out;
}

.poster-box {
   position: relative;
   display: block;
   width: 100%;
   /* padding: 20px; */
}

.poster-pic {
   width: 100%;
   cursor: pointer;
   height: 100%;
   object-fit: cover;
   display: block;
   transition: transform 150ms ease-out;
}

/* .poster-pic:hover {
   transform: scale(1.02);
} */

/* ========== ANIMATION ========== */

@keyframes rotate {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

/* ============ MEDIA ============ */

@media (max-width: 1024px) {}

@media (max-width: 768px) {
   :root {
      --h6: 10px;
   }
}

@media (max-width: 500px) {
   .poster-text {
      font-size: 14px;
   }

   .poster__title {
      font-size: 16px;
   }

   .poster__desc {
      line-height: 1.2;
   }
}

@media (max-width: 425px) {
   .net {
      margin: 2px;
      max-width: 450px;
      width: 100%;
      height: 40px;
   }

   .neticon-box {
      width: 40px;
      height: 40px;
      padding: 10px;
   }

   .nettitle {
      font-size: 14px;
   }

   .app-container {
      padding: 30px 10px 10px 10px;
   }

   .content {
      width: calc(100% -20px);
      height: calc(100vh - 40px);
      display: grid;
      grid-template-rows: auto 1fr 40px;
   }
}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */