/* =================================
   MIDDLE
==================================== */

/* ========== NETWORK ========== */

.network {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.net {
   position: relative;
   overflow: hidden;

   margin: 2px 0;
   max-width: 450px;
   width: 100%;
   height: 50px;

   display: flex;
   align-items: center;

   border-radius: 10px;
   border: 1px solid rgba(255, 255, 255, .1);
   background: var(--netcard);
   backdrop-filter: blur(1px);

   text-decoration: none;
   transition: border-color 150ms ease-in-out;

   cursor: var(--cursor-pointer);
}

.net:hover {
   border: 1px solid rgba(255, 255, 255, .5);
}

.neticon-box {
   width: 50px;
   height: 50px;
   padding: 10px;
}

.neticon {
   width: 100%;
   height: 100%;
}

.nettitle {
   font-size: var(--h4);
   font-weight: 500;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 1);
}

/* .net::after {
   content: "";
   display: block;
   position: absolute;
   top: 50%;
   right: -50.5%;
   width: 100%;
   height: 40px;
   opacity: 0.05;
   transform: translateY(-50%);
}

.net._instagram::after {
   background: url("./img/networks/instagram.svg") repeat;
   background-size: 20px 20px;
}

.net._telegram::after {
   background: url("./img/networks/telegram.svg") repeat;
   background-size: 20px 20px;
}

.net._youtube::after {
   background: url("./img/networks/youtube.svg") repeat;
   background-size: 20px 20px;
}

.net._tt::after {
   background: url("./img/networks/tiktok.svg") repeat;
   background-size: 20px 20px;
} */

/* ========== POSTER ========== */

.poster {
   margin-top: 20px;
   padding: 20px;
   max-width: 600px;
   width: 100%;
   border-radius: 14px;
   background-color: var(--color-poster-bg);
}

.poster-box {
   position: relative;
   display: block;
   width: 100%;
}

.poster-pic {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
   transition: transform 150ms ease-out;

   cursor: var(--cursor-pointer);
}

.poster-text {
   margin-top: 10px;
   display: flex;
   flex-direction: column;

   font-size: var(--h4);
   color: var(--text-color);
}

.poster__item {
   width: 100%;
   /* margin-bottom: 12px; */
}

.poster__title {
   margin-top: 10px;
   margin-bottom: 8px;
   font-weight: 600;
   font-size: var(--h3);
}

.poster__desc {
   margin-bottom: 16px;
   width: 90%;
   line-height: 1.4;
}

.poster__date {
   margin-bottom: 6px;
   font-weight: 500;
   font-size: var(--h5);
}

.poster__map {
   width: max-content;
   font-weight: 500;
   font-size: var(--h5);
   /* padding: 2px 6px; */
   /* border-radius: 2px; */
   /* background-color: rgba(0, 0, 0, .1); */
}

/* ========== LIKE ========== */

.like {
   width: 100%;
   display: flex;
   justify-content: end;
   align-items: center;
}

.like-count {
   margin-right: 6px;
   font-weight: 400;
   font-size: 14px;
   line-height: 0;
   color: var(--text-color-50);
}

.like-box {
   width: 20px;
   height: 20px;
   display: flex;
   align-items: center;
   justify-content: center;

   cursor: pointer;
}

.like-pic {
   width: 100%;
   object-fit: cover;
}

.like-pic path {
   /* fill: rgba(221, 60, 60, 0.1); */
   transition: fill 150ms ease-out;
}

.like-pic._active path {
   fill: rgba(235, 79, 79, 1);
   stroke: rgba(221, 60, 60, 1);
}

/* ========== SETTINGS ========== */

.setting {
   margin-bottom: 4px;
   max-width: 450px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: end;
}

.switch {
   width: 42px;
   height: 22px;
   border: 2px solid rgba(255, 255, 255, 0.5);
   border-radius: 40px;

   display: flex;
   align-items: center;

   background-color: rgba(255, 255, 255, .05);

   cursor: pointer;
}

.btn-box {
   height: 16px;
   width: 16px;
   display: flex;
   align-items: center;
   justify-content: center;

   transform: translateX(2px);
   transition: transform 200ms ease-out;
}

.switch-pic {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

body._scheme_color_1 .btn-box {
   transform: translateX(2px);
}

body._scheme_color_1 .switch-pic path {
   fill: #ffffff;
}

body._scheme_color_2 .btn-box {
   transform: translateX(20px);
}

body._scheme_color_2 .switch-pic path {
   fill: #c286ff;
}


/* =================================
   MEDIA
==================================== */

@media (hover: hover) and (pointer: fine) {
   .like-pic:hover path {
      fill: rgba(221, 60, 60, 0.5);
   }
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {

   .net {
      width: 100%;
   }

   .poster {
      border-radius: 10px;
   }

   .poster-text {
      font-size: 14px;
   }

   .poster__title {
      font-size: 16px;
   }

   .poster__desc {
      line-height: 1.2;
      width: 100%;
   }

   .like-box {
      width: 16px;
      height: 16px;
   }
}

@media (max-width: 425px) {
   .net {
      max-width: 450px;
      height: 40px;
   }

   .neticon-box {
      width: 40px;
      height: 40px;
      padding: 10px;
   }

   .nettitle {
      font-size: 14px;
   }
}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */