/* =================================
   MIDDLE
==================================== */

/* ========== NETWORK ========== */

.network {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.net {
   position: relative;
   overflow: hidden;

   margin: 2px 0;
   max-width: 450px;
   width: 100%;
   height: 50px;

   display: flex;
   align-items: center;

   border-radius: 10px;
   border: 1px solid rgba(255, 255, 255, .1);
   background: var(--netcard);
   backdrop-filter: blur(1px);

   text-decoration: none;
   transition: border-color 150ms ease-in-out;

   cursor: var(--cursor-pointer);
}

.net:hover {
   border: 1px solid rgba(255, 255, 255, .5);
}

.neticon-box {
   width: 50px;
   height: 50px;
   padding: 10px;
}

.neticon {
   width: 100%;
   height: 100%;
}

.nettitle {
   font-size: var(--h4);
   font-weight: 500;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 1);
}

/* .net::after {
   content: "";
   display: block;
   position: absolute;
   top: 50%;
   right: -50.5%;
   width: 100%;
   height: 40px;
   opacity: 0.05;
   transform: translateY(-50%);
}

.net._instagram::after {
   background: url("./img/networks/instagram.svg") repeat;
   background-size: 20px 20px;
}

.net._telegram::after {
   background: url("./img/networks/telegram.svg") repeat;
   background-size: 20px 20px;
}

.net._youtube::after {
   background: url("./img/networks/youtube.svg") repeat;
   background-size: 20px 20px;
}

.net._tt::after {
   background: url("./img/networks/tiktok.svg") repeat;
   background-size: 20px 20px;
} */

/* ========== POSTER ========== */

.poster {
   margin-top: 20px;
   padding: 20px;
   max-width: 600px;
   height: auto;
   width: 100%;
   border-radius: 14px;
   background-color: var(--color-poster-bg);

   display: flex;
   flex-direction: column;
}

.poster-box {
   position: relative;
   display: flex;
   max-width: 560px;
   width: 100%;
   aspect-ratio: 1 / 1;
   background-color: var(--noimage-bg);
}

.poster-pic {
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
   transition: transform 150ms ease-out;

   cursor: var(--cursor-pointer);
}

.poster-text {
   margin: 16px 0 10px 0;
   display: flex;
   flex-direction: column;

   font-size: var(--h4);
   color: var(--text-color);
}


.poster__title {
   margin-bottom: 12px;
   font-weight: 700;
   font-size: var(--h2);
}

.poster-info {
   margin-bottom: 6px;
   max-width: 100%;
   width: max-content;

   display: flex;
   align-items: start;
   justify-content: center;
}

.poster-info:last-of-type {
   margin: 0;
}

.poster-icon-box {
   width: 13px;
   height: 13px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.poster-icon {
   object-fit: cover;
   height: 100%;
}

._icon_copy path {
   fill: #666666;
   opacity: .5;
   transition: opacity 200ms ease-in-out;
}

.poster__date {
   margin: 0 0 0 5px;
   font-weight: 400;
   font-size: var(--h5);
   color: var(--text-color-50);
}

.poster__map {
   margin: 0 5px;
   font-weight: 400;
   font-size: var(--h5);
   color: var(--text-color-50);
   transition: color 150ms ease-in-out;
}

.poster-info._info_copy {
   cursor: pointer;
}

.poster-info._info_copy:hover .poster__map {
   color: var(--text-color-hover);
}

.poster-info._info_copy:hover ._icon_copy path {
   fill: var(--text-color-hover);
   opacity: 1;
}

._info_copy {
   position: relative;
}

._info_copy::before {
   content: "copied!";
   display: block;
   position: absolute;
   top: -100%;
   right: 0;

   padding: 2px 4px;
   border-radius: 2px;
   background-color: rgba(0, 0, 0, .1);

   font-family: var(--f-family);
   font-size: var(--h6);
   color: var(--text-color-50);

   cursor: auto;
   pointer-events: none;

   transform: translateY(4px);
   opacity: 0;
   transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
}

._info_copy._copied::before {
   transform: translateY(-10px);
   opacity: 1;
}

.poster__desc {
   margin-top: 12px;
   width: 90%;
   display: block;
   font-size: var(--h4);
   line-height: 1.4;
}

/* ========== LIKE ========== */

.like {
   width: 100%;
   display: flex;
   justify-content: end;
   align-items: center;
}

.like-count {
   margin-right: 6px;
   font-weight: 400;
   font-size: 14px;
   line-height: 0;
   color: var(--text-color-50);
}

.like-box {
   width: 20px;
   height: 20px;
   display: flex;
   align-items: center;
   justify-content: center;

   cursor: pointer;
}

.like-pic {
   width: 100%;
   object-fit: cover;
}

.like-pic path {
   /* fill: rgba(221, 60, 60, 0.1); */
   transition: fill 150ms ease-out;
}

.like-pic._active path {
   fill: rgba(235, 79, 79, 1);
   stroke: rgba(221, 60, 60, 1);
}

/* ========== SETTINGS ========== */

.setting {
   margin-bottom: 4px;
   max-width: 450px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: end;
}

.switch {
   width: 42px;
   height: 22px;
   border: 2px solid rgba(255, 255, 255, 0.5);
   border-radius: 40px;

   display: flex;
   align-items: center;

   background-color: rgba(255, 255, 255, .05);

   cursor: pointer;
}

.btn-box {
   height: 16px;
   width: 16px;
   display: flex;
   align-items: center;
   justify-content: center;

   transform: translateX(2px);
   transition: transform 200ms ease-out;
}

.switch-pic {
   height: 100%;
   width: 100%;
   object-fit: cover;
}

body._scheme_color_1 .btn-box {
   transform: translateX(2px);
}

body._scheme_color_1 .switch-pic path {
   fill: #ffffff;
}

body._scheme_color_2 .btn-box {
   transform: translateX(20px) rotate(180deg);
}

body._scheme_color_2 .switch-pic path {
   fill: var(--switch-fill-1);
}

/* ========== MUSIC ========== */

.music {
   margin-right: 6px;
   width: auto;
   height: 22px;
}

.music-icon-box {
   position: relative;
   width: 22px;
   height: 22px;

   display: flex;
   align-items: center;
   justify-content: center;

   border-radius: 20px;
   border: 2px solid rgba(255, 255, 255, 0.5);

   cursor: pointer;
}

.music-pic {
   height: 12px;
   width: 12px;
   object-fit: cover;
}

.music-icon-box::before {
   content: "";
   position: absolute;
   display: block;
   width: 18px;
   height: 2px;
   background-color: rgb(241, 99, 99);
   transform: rotate(45deg);
   transition: width 200ms ease-out;
}

.music._on .music-icon-box::before {
   width: 0px;
}

/* =================================
   MEDIA
==================================== */

@media (hover: hover) and (pointer: fine) {
   .like-pic:hover path {
      fill: rgba(221, 60, 60, 0.5);
   }
}

@media (max-width: 1024px) {}

@media (max-width: 768px) {}

@media (max-width: 500px) {

   .net {
      width: 100%;
   }

   .poster {
      border-radius: 10px;
   }

   .poster-text {
      font-size: 14px;
   }

   .poster__title {
      margin-bottom: 10px;
      font-size: 16px;
   }

   .poster__desc {
      margin-top: 10px;
      line-height: 1.2;
      width: 100%;
   }

   .like-box {
      width: 16px;
      height: 16px;
   }

   .poster-icon-box {
      width: 10px;
      height: 10px;
   }
}

@media (max-width: 425px) {
   .net {
      max-width: 450px;
      height: 40px;
   }

   .neticon-box {
      width: 40px;
      height: 40px;
      padding: 10px;
   }

   .nettitle {
      font-size: 14px;
   }
}

@media (max-width: 375px) {}

@media (max-width: 320px) {}

/* ============ END :) ============ */